.navbar{
  font-family: Arial, Helvetica, sans-serif;
  /* min-width: 100vh; */
  background-color: #fff !important;
}
.nav-item {
  padding: 0 20px;
}

#brand{
  margin-left: 6rem !important;
}
.row{
  margin: auto !important;
}
